{% extends 'base.html' %}

{% block content %}
<div class="space-y-6 px-4">
    <section class="bg-white rounded-lg shadow-md p-6">
        <h2 class="text-xl font-semibold text-gray-800 mb-4">Top 10 des films les plus récents</h2>
        <div class="overflow-x-auto w-full mt-8">
            <table class="min-w-full table-auto bg-white border border-gray-300 rounded-lg shadow-lg">
                <thead>
                    <tr class="bg-gray-200 text-gray-700">
                        <th class="py-2 px-4 text-left">Sortie</th>
                        <th class="py-2 px-4 text-left">Titre</th>
                        <th class="py-2 px-4 text-left">Genre</th>
                        <th class="py-2 px-4 text-left">Prediction</th>
                        <th class="py-2 px-4 text-left">Realité</th>
                        <th class="py-2 px-4 text-left">Salle 1</th>
                        <th class="py-2 px-4 text-left">Salle 2</th>
                    </tr>
                </thead>
                <tbody>
                    {% for movie in movies %}
                    <tr class="hover:bg-gray-100 relative">
                        <td class="py-2 px-4">{{ movie.release_date_fr }}</td>
                        <td class="py-2 px-4">{{ movie.title }}</td>
                        <td class="py-2 px-4">{{ movie.genre }}</td>
                        <td class="py-2 px-4 text-right">{{ movie.last_prediction }}</td>
                        <td class="py-2 px-4 text-right">{{ movie.first_week_actual_entries_france }}</td>
                        <td class="py-2 px-4">
                            <input type="checkbox" name="selection" value="{{ article.id }}">
                        </td>
                        <td class="py-2 px-4">
                            <input type="checkbox" name="selection" value="{{ article.id }}">
                        </td>
                        <td class="synopsis">{{ movie.synopsis }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</div>
{% endblock %}
